$font-family: 'Noto Sans Japanese', '游ゴシック体', 'Yu Gothic', YuGothic, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
$color-mainblue: #10A7EE;

p {
  margin:0;
  padding: 0;
  font-family: $font-family;
}
h2,h3 {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font-family;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 5%;
  @media screen and (min-width:980px) {
    position: fixed;
    top: 40px;
    left: 120px;
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: $color-mainblue;
    @media screen and (min-width:980px) {
      height: 190px;
      width: 190px;
    }
    .header-img-wrapper {
      p:nth-child(2) {
        display: none;
        @media screen and (min-width:980px) {
          display: block;
        }
      }
      img {
        width: 80%;
        margin-left: 10%;
      }
      .header-img-first {
        margin-bottom: 0;
        @media screen and (min-width:980px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

#all-position {
  position: relative;
  @media screen and (min-width:980px) {
    position: static;
  }
}
.header-part {
  span {
    height: 20px;
    width: 20px;
    background-color: white;
  }
}

#nav-list {
  display: none;
}
@media screen and (min-width:980px) {
  #nav-list {
    display: block;
  }
}
#test {
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  height: 100px;
  width: 100px;
  background-color: black;
  @media screen and (min-width:980px) {
    display: none;
  }
}
.g-nav {
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 1001;
  width: 265px;
  transform: translateX(265px);
  @media screen and (min-width:980px) {
    position: fixed;
    left: 0;
    height: 100%;
    width: 80px;
    z-index: 1000;
    background-color: black;
    transform: translateX(0);
  }
  .g-nav-main {
    height: 100%;
    position: relative;
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      @media screen and (min-width:980px) {
        position: static;
      }
      #serviceOpen {
        position: absolute;
        top:0;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: white;
        @media screen and (min-width:980px) {
          display: none;
        }
      }
      a:first-child {
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        @media screen and (min-width:980px) {
          height: 80px;
          flex-direction: column;
          justify-content: center;
        }
        p {
          display: inline;
          padding-left: 15px;
          font-size: 14px;
          color: white;
          @media screen and (min-width:980px) {
            font-size: 10px;
            padding-left: 0;
          }
        }
        &:hover {
          background-color: $color-mainblue;
        }
        &:before {
          display: inline;
          margin-left: 20px;
          content: "";
          width: 40px;
          height: 40px;
          background-image: url(../images/icon.png);
          background-repeat: no-repeat;
          background-size: 420px 1040px;
          @media screen and (min-width:980px) {
            margin-left: 0;
          }
        }
      }
      ul {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: #252829 !important;
        @media screen and (min-width:980px) {
          position: absolute;
          left: 80px;
          top: 0;
          width:240px;
        }
        li {
          a {
            display: flex;
            flex-direction: row !important;
            justify-content: flex-start !important;
            align-items: center;
            height: 60px;
            &:before {
              display: none !important;
            }
            &:hover {
              background-color: $color-mainblue;
            }
            p {
              padding-left: 20px !important;
            }
          }
        }
        li:last-child {
          position: relative;
          background-color: inherit;
          a {
            p {
              color: white;
            }
            &:hover {
              background-color: $color-mainblue;
            }
          }
        }
      }
    }

    li:nth-child(2) {
      a:before {
        background-position: -40px 0;
      }
      ul {
        display: none;
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
    li:nth-child(3) {
      a:before {
        background-position: -80px 0;
      }
      ul {
        display: none;
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
    li:nth-child(4) {
      a:before {
        background-position: -120px 0;
      }
      ul {
        display: none;
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
    li:nth-child(5) {
      a:before {
        background-position: -160px 0;
      }
      ul {
        display: none;
      }
      &:hover {
        ul {
          display: block;
        }
      }
    }
    li:nth-child(6) {
      a:before {
        background-position: -200px 0;
      }
    }
    li:last-child {
      a:before {
        background-position: -240px 0;
      }
      position: relative;
      bottom: 0;
      background-color: #dd3ca2;
      @media screen and (min-width:980px) {
        position: absolute;
      }
      a {
        color: white;
        &:hover {
          background-color: #f95dc0;
          opacity: 0.8;
        }
      }
    }
  }
  .g-nav-sub {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width:980px) {
      position: absolute;
      bottom: 120px;
      left: 0;
    }
    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 40px;
        height: 40px;
        border: solid 1px white;
        border-radius: 50%;
        overflow: hidden;
        font-size: 10px;
      }
    }
    li:first-child {
      margin-bottom: 20px;
    }
  }
  .mail {
    position: absolute;

  }
}
.back-main {
  background-image: url(../images/bg_top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 998;
  display: block;
  align-items: center;
  height: 500px;
  width: 100%;
  @media screen and (min-width:980px) {
    position: fixed;
    top:0;
    height: 100%;
  }
  .back-main-text {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 140px;
    @media screen and (min-width:980px) {
      position: relative;
      margin-left: 120px;
      margin-top: 360px;
    }
    h3 {
      color: white;
      font-size: 20px;
      font-weight: 500;
      @media screen and (min-width:980px) {
        font-size: 24px;
      }
      &:after {
        display: block;
        content: "";
        margin: 14px 0 20px 0;
        height: 1px;
        width: 60px;
        background-color: white;
      }
    }
    p {
      color: white;
      font-size: 12px;
      margin-bottom: 5px;
      @media screen and (min-width:980px) {
        font-size: 14px;
      }
      &:last-of-type{
        margin-bottom: 40px;
      }
    }
    a {
      display: inline;
      text-align: center;
      width: auto;
      padding: 14px 28px 14px 28px;
      margin-top: 40px;
      font-size: 12px;
      color: white;
      border: solid 1px white;
      border-radius: 30px;
      @media screen and (min-width:980px) {
        font-size:14px;
      }
    }
  }
}

.contents {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 0;
  width: 100%;
  @media screen and (min-width:980px) {
    width: 50%;
    margin: 0 0 0 auto;
    margin-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .contents-top {
    height: auto;
    @media screen and (min-width:980px) {
      height: 300px;
    }
  }
  .contents-main {
    .contents-main-menu {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 100%;
        @media screen and (min-width:980px) {
          width: 50%;
        }
        a {
          position: relative;
          display: block;
          height: 300px;
          width: 100%;
          &:hover {
            &:after {
              position: absolute;
              top: 0;
              content: "";
              height: 100%;
              width: 100%;
              background-color: white;
              opacity: 0.1;

            }
          }
          .contents-main-text {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:before {
              content: "";
              display: block;
              margin-bottom: 20px;
              width: 140px;
              height: 100px;
              background-repeat: no-repeat;
              background-size:420px 1040px;
            }
            h3 {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 90%;
              color: white;
              font-size: 16px;
              font-weight: 500;
              text-align: center;
              margin-bottom: 12px;
              &:before {
                display: block;
                content: "";
                height: 0.5px;
                width: 60%;
                background-color:white;
                margin-bottom: 12px;
              }
              &:after {
                display: block;
                content:"";
                height: 0.5px;
                width: 60%;
                background-color: white;
                margin-top: 12px;
              }
            }
            p {
              width: 90%;
              color: white;
              line-height:20px;
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }
      li:nth-child(1) {
        background-color: #588fe3;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -280px -40px;
            }
          }
        }
      }
      li:nth-child(2) {
        background-color: #3aaade;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -540px;
            }
          }
        }
      }
      li:nth-child(3) {
        background-color: #3aaade;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -280px -140px;
            }
          }
        }
      }
      li:nth-child(4) {
        background-color: #27c0dc;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -340px;
            }
          }
        }
      }
      li:nth-child(5) {
        background-color: #27c0dc;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -280px -240px;
            }
          }
        }
      }
      li:nth-child(6) {
        background-color: #02aa9f;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -140px;
            }
          }
        }
      }
      li:nth-child(7) {
        background-color: #02aa9f;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -140px -240px;
            }
          }
        }
      }
      li:nth-child(8) {
        background-color: #219e62;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -940px;
            }
          }
        }
      }
      li:nth-child(9) {
        background-color: #219e62;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -140px -340px;
            }
          }
        }
      }
      li:nth-child(10) {
        background-color: #629f44;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -40px;
            }
          }
        }
      }
      li:nth-child(11) {
        background-color: #629f44;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: 0 -240px;
            }
          }
        }
      }
      li:nth-child(12) {
        background-color: #899f44;
        a {
          .contents-main-text {
            &:before {
              background-image: url(../images/icon.png);
              background-position: -280px -340px;
            }
          }
        }
      }
    }
    .contents-main-blog {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: 50%;
        height: 300px;
        background-color: black;
        opacity: 0.5;
      }
    }
  }
}
.contents-top-wrapper {
  .swiper-container {
    width: 100%;
    height: 100%;
    .swiper-wrapper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @media screen and (min-width:980px) {
          flex-direction: row;
        }
        img {
          object-fit: cover;
          width: 100%;
          @media screen and (min-width:980px) {
            width: 50%;
          }
        }
        .swiper-text {
          height: 100%;
          width: 100%;
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media screen and (min-width: 980px) {
            width: 50%;
          }
          img {
            width: 40%;
            @media screen and (min-width:980px) {
              width: 60%;
            }
          }
          h3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
            color: black;
            font-weight: 500;
            margin-bottom: 10px;
            width: 80%;
            @media screen and (min-width:980px) {
              margin-bottom: 20px;
            }
            &:before {
              display: block;
              content: "";
              height: 0.5px;
              width: 100px;
              background-color: black;
              margin-bottom: 10px;
            }
            &:after {
              display: block;
              content:"";
              height: 0.5px;
              width: 100px;
              background-color: black;
              margin-top: 10px;
            }
          }
          p {
            width: 80%;
            text-align: center;
            font-size: 12px;
            color: black;
            margin-bottom: 20px;
            @media screen and (min-width:980px) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .swiper-button-prev {
      color: $color-mainblue;
    }
    .swiper-button-next {
      color: $color-mainblue;
    }
  }
}


footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: #212425;
  padding: 0;
  padding-bottom: 40px;
  @media screen and (min-width:980px) {
    padding: 40px 40px 40px 120px;
    flex-direction: row;
  }
  .company-info {
    width: 90%;
    text-align: center;
    @media screen and (min-width:980px) {
      width: 40%;
      text-align: left;
    }
    img {
      margin-bottom: 20px;
    }
    p {
      letter-spacing: 1px;
      color: white;
      font-size: 12px;
      font-weight: 100;
      line-height: 22px;
    }
    .contact-info {
      display: inline;
      @media screen and (min-width:980px) {
        display: flex;
      }
      p {
        display: inline;
      }
      p:nth-child(2) {
        margin-left: 20px;
      }
    }
    .company-text {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .copyright {
      p {
        font-size: 10px;
        color: #707070;
      }
    }
  }
  .sitemap {
    width: 90%;
    margin-left: 20px;
    @media screen and (min-width:980px) {
      width: 60%;
    }
    h3 {
      padding-left: 20px;
      display: block;
      a {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
    }
    p {
      padding-left: 0;
      display: block;
      @media screen and (min-width:980px) {
        padding-left: 20px;
      }
      a {
        color: #999999;
        font-size: 12px;
      }
    }
    .noChild {
      h3 {
        margin-bottom: 20px;
      }
    }
    .onChild {
      h3 {
        margin-bottom: 5px;
      }
    }

    .sitemap1 {
      height: 50%;
      width: 100%;
      display:none;
      @media screen and (min-width:980px) {
        display: flex;
      }
      .map1-part1 {
        width: 33.3333%;
      }
      .service {
        width: 33.3333%;
      }
      .creative {
        width: 33.3333%;
      }
    }
    .sitemap2 {
      height: 50%;
      display: flex;
      padding-top: 40px;
      width: 100%;
      .info {
        display: none;
        @media screen and (min-width:980px) {
          display: block;
          width: 33.3333%;
        }
      }
      .reqruit {
        display: none;
        @media screen and (min-width:980px) {
          display: block;
          width:33.3333%;
        }
      }
      .subinfo {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        @media screen and (min-width: 980px) {
          display: block;
          width:33.3333%;
          text-align: left;
        }
        p {
          display: inline;
          @media screen and (min-width:980px) {
            display: block;
          }
        }
      }
    }
  }
}
