
//reset.css
body,html,main,h1,h2,h3,h4,p,span,label,ul,li {
  margin: 0;
  padding: 0;
}
li { list-style-type: none;}
a { text-decoration: none;}


//定義
$main_color: #1C146B;
$sub_color: #5CC2DC;
$accent_color: #EE7D77;
$font-family: Noto Sans JP,游ゴシック体,YuGothic,游ゴシック Medium,Yu Gothic Medium,游ゴシック,Yu Gothic,メイリオ,sans-serif;
$set-prefix: ("","-moz-","-webkit-");



////////////////////////
// フェードイン用CSS
////////////////////////
// フェードイン（下から出現）
.effect-fade-vertical {
  opacity: 0;
  transform: translate(0, 100px); /* フェードインで動く高さを指定 */
  transition: all 1000ms; /* フェードインにかかる時間を指定 */
}
.effect-scroll-vertical {
  opacity: 1;
  transform: translate(0, 0);
}


//////////////////////////////
// 継承用CSS
/////////////////////////////
// スクリーンサイズ(1000px)
%screen_wide {
	width: 90%;
  max-width: 1000px;
	margin: auto;
}
// コンテンツ下マージン
%content_margin {
  margin-bottom: 160px;
  @media screen and (max-width:480px) {
    margin-bottom: 80px;
  }
}
// タイトルフォントサイズ
%title_size {
  font-size: clamp(24px, 4.8vw,50px);
  font-weight: 600;
  line-height: 1.3;
  color: $main_color;
  text-align: center;
}
// タイトルマージン(複数行)
%title_margin_multi {
  padding-top: clamp(20px,4vw,40px);
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media screen and (max-width:480px) {
    margin-bottom: 30px;
  }
}
%title_margin_single {
  padding: clamp(24px,4.8vw,48px) 0;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media screen and (max-width:480px) {
    margin-bottom: 30px;
  }
}
// メッセージテキストサイズ
%message_size {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  color: #333333;
  @media screen and (max-width:480px) {
    font-size: 14px;
  }
}
* {
  font-family: $font-family;
}



/////////////////////////
// 全体背景 Start
/////////////////////////
body {
  position: relative;
  background-image: url(../images/glid_pattern.jpg);
  background-repeat: repeat;
  // 背景画像を薄くする
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
  }
}
/////////////////////////
// 全体背景 End
/////////////////////////

/////////////////////////////
// ボタン
/////////////////////////////
// お問い合わせボタン
.contact_button {
  display: flex;
  justify-content: center;
  >a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 400px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    background-color: $main_color;
    border-radius: 30px;
    @media screen and (max-width:480px) {
      font-size: 18px;
      width: 100%;
    }
    @each $prefix in $set-prefix {
      #{$prefix + "transition"}: 0.3s;
    }
    &:hover {
      background-color: $accent_color;
    }
  }
}



///////////////////////////
// ヘッダー Start
///////////////////////////
.header_wrapper {
  position: relative;
  @extend %screen_wide;
  height: 100px;
  @media screen and (max-width:480px) {
    height: 80px;
  }
}
// ロゴ
.logo {
  position: absolute;
  top: 30px;
  left: 0;
  width: clamp(160px,32vw,240px);
  @media screen and (max-width:480px) {
    top: 20px;
  }
  >a {
    display: block;
    >img {
      height: auto;
      width: 100%;
    }
    @each $prefix in $set-prefix {
      #{$prefix + "transition"}: 0.3s;
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
// お問い合わせリンク
.contact_link {
  position: absolute;
  top: 30px;
  right: 0;
  width: clamp(48px,10vw,60px);
  @media screen and (max-width:1080px) {
    transform: translateX(-70px);
  }
  @media screen and (max-width:480px) {
    top: 20px;
    transform: translateX(-60px);
  }
  @each $prefix in $set-prefix {
    #{$prefix + "transition"}: 0.3s;
  }
  &:hover {
    opacity: 0.8;
  }
  >img {
    height: auto;
    width: 100%;
    cursor: pointer;
  }
}
///////////////////////////
// ヘッダー End
///////////////////////////




///////////////////////////
// ファーストビュー Start
///////////////////////////
// 背景画像
.fv_bg {
  height: clamp(320px,48vw,580px);
  width: 100%;
  background-image: url(../images/main_visual_base.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.fv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  @media screen and (max-width:480px) {
    flex-direction: column;
  }
}
// ファーストビューテキスト(左、右)
.fv_text {
  width: 33%;
  max-height: 330px;
  max-width: 400px;
  margin: 0 20px;
  @media screen and (max-width:480px) {
    width: 54%;
  }
  >img {
    height: auto;
    width: 100%;
  }
}
// ファーストビュー(真ん中)
.fv_title {
  text-align: center;
  width: 33%;
  max-height: 330px;
  max-width: 400px;
  @media screen and (max-width:480px) {
    width: 54%;
  }
  >img {
    height: auto;
    width: 100%;
  }
}
///////////////////////////
// ファーストビュー End
///////////////////////////



///////////////////////////////////
// ナビゲーションメニュー Start
///////////////////////////////////
// スクロール時の固定
@media screen and (min-width:1080px) {
  .navfixed{
    position: fixed !important;
    z-index: 900;
    top:0;
    left:0;
    padding-bottom: 30px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      content:"";
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 90%;
    }
  }
}


// labelでハンバーガーメニューを追加してinput ~ 要素で対応
#nav_toggle {
  display: none;
  @media screen and (max-width:1080px) {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 30px;
  }
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: center;
    align-items: center;
    top: 20px;
    right: 20px;
  }
  position: fixed;
  z-index: 999;
  height: 48px;
  width: 48px;
  border-radius: 8px;
  background-color: white;

  >input{
    display: none;
    &:checked ~ #navmenu {
      right: 0;
    }
  }
  >label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    >span {
      content: "";
      height: 4px;
      width: 100%;
      background-color: $main_color;
    }
  }

}
#navmenu {
  position: absolute;
  width: 100%;
  @media screen and (max-width:1080px) {
    position: fixed;
    top: -100%;
    z-index: 990;
    height: 100%;
    width: 100%;
    @each $prefix in $set-prefix {
      #{$prefix + "transition"}: 0.5s;
    }
    background-image: url(../images/glid_pattern.jpg);
    background-repeat: repeat;
    // 背景画像を薄くする
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.6;
    }
  }
}
.nav_open {
  top: 0 !important;
}
nav {
  @extend %screen_wide;
  >ul {
    display: flex;
    margin-top: 40px;
    @media screen and (max-width:1080px) {
      flex-direction: column;
      margin-top: 100px;
    }
    >li {
      margin-right: clamp(32px,5vw,60px);
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width:1080px) {
        margin-bottom: 20px;
      }
      >a {
        position: relative;
        font-size: clamp(16px,2.4vw,20px);
        font-weight: 600;
        line-height: 1.3;
        color: $main_color;

        &:after {
          content: "";
          position: absolute;
          bottom: -12px;
          left: 0;
          width: 100%;
          height: 3px;
          background:linear-gradient(currentColor 0 0) bottom /var(--d, 0) 3px no-repeat;
          @each $prefix in $set-prefix {
            #{$prefix + "transition"}: 0.3s;
          }
        }
        &:hover {
          &:after {
          --d: 100%;
          }
        }
      }
    }
  }
}
///////////////////////////////////
// ナビゲーションメニュー End
///////////////////////////////////




///////////////////////////
// 3つのポイント Start
///////////////////////////
.point {
  margin-top: 180px;
  @extend %content_margin;
  @media screen and (max-width:1080px) {
    margin-top: 60px;
  }
}
.point_title {
  background-image: url(../images/FEATURES.png);
  @extend %title_margin_multi;
  @media screen and (max-width:480px) {
    margin-bottom: 28px;
  }
  >h2 {
    @extend %title_size;
  }
}
.point_main {
  display: flex;
  justify-content: space-between;
  @extend %screen_wide;
  @media screen and (max-width:768px) {
    flex-direction: column;
    align-items: center;
  }
  >li {
    position: relative;
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
    background-color: white;
    &:nth-child(1) {
      background-image: url(../images/point_title01.png);
    }
    &:nth-child(2) {
      background-image: url(../images/point_title02.png);
    }
    &:nth-child(3) {
      background-image: url(../images/point_title03.png);
    }
    background-repeat: no-repeat;
    background-position: bottom right;
    @media screen and (max-width:768px) {
      width: 100%;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    >h3 {
      margin: 40px 20px 30px 20px;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.4;
      color: $accent_color;
      @media screen and (max-width:480px) {
        font-size: 18px;
        margin: 28px 14px 20px 14px;
      }
    }
    >p {
      margin: 0 20px 60px 20px;
      @extend %message_size;
      @media screen and (max-width:480px) {
        margin: 0 14px 30px 14px;
      }
    }
  }
}
///////////////////////////
// 3つのポイント Start
///////////////////////////




////////////////////////////
// コンタクトリンク Start
////////////////////////////
.contactfixed {
  position: fixed !important;
  opacity: 1 !important;
  //top: 0 !important;
  //transform: translateY(100px) !important;
}
#contact_now {
  position: absolute;
  right: 0;
  z-index: 900;
  //transform: translateY(-100px);
  width: 25%;
  max-width: 180px;
  opacity: 0;
  >img {
    width:100%;
    cursor: pointer;
  }
}
////////////////////////////
// コンタクトリンク Start
////////////////////////////




//////////////////////////
// スマホやりとり Start
//////////////////////////
.screen {
  @extend %screen_wide;
  @extend %content_margin;
  >img {
    width: 100%;
  }
}

//////////////////////////
// スマホやりとり End
//////////////////////////




//////////////////
// プラン Start
//////////////////
.plan {
  @extend %screen_wide;
  @extend %content_margin;
}
.plan_title {
  background-image: url(../images/PLAN.png);
  @extend %title_margin_multi;
  >h2 {
    @extend %title_size;
  }
}
.plan_main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 24px;
  @media screen and (max-width:480px) {
    width: 100%;
  }
  >p {
    @extend %message_size;
    &:first-child {
      margin-bottom: 32px;
      @media screen and (max-width:480px) {
        margin-bottom: 16px;
      }
    }
  }
}
.plan_table {
  width: 100%;
  overflow: scroll;
  >table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 980px;
    height: 664px;
    border-radius: 20px;
    background-image: url(../images/table_base_title.png);
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width:480px) {
      width: 800px;
      height: 400px;
    }
    >tbody {
      >tr {
        >td {
          background-color: white;
          border: solid 1px rgba(28 ,20 ,107 ,.2);
          border-top:0;
          &:first-child {
            border-left: 0;
          }
          &:last-child {
            border-right: 0;
          }
        }
        >th {
          border: solid 1px rgba(28 ,20 ,107 ,.2);
          border-top:0;
          width: 21%;
          &:first-child {
            border-left: 0;
            width: 16%;
          }
          &:last-child {
            border-right: 0;
          }
        }
        &:last-child {
          >th,td {
            border-bottom: 0;
          }
        }
      }
    }

  }
  .table_header {
    display: flex;
    justify-content: center;
    margin: 16px 0;
    font-size: 22px;
    font-weight: 400;
    color: white;
    @media screen and (max-width:480px) {
      font-size: 16px;
      margin: 8px 0;
    }
  }
  .table_data {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    padding: 20px;
    @media screen and (max-width:480px) {
      height: 176px;
    }
    >p:first-child  {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.3;
      color: $main_color;
      margin-bottom: 10px;
      @media screen and (max-width:480px) {
        font-size: 14px;
      }
      >span {
        font-size: 42px;
        font-weight: 600;
        @media screen and (max-width:480px) {
          font-size: 36px;
        }
      }
    }
    >p:nth-child(2) {
      font-size: 14px;
      font-weight: 500;
      line-height:1.5;
      color: #333333;
      @media screen and (max-width:480px) {
        font-size: 12px;
      }
    }
    >a {
      position: absolute;
      bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 80%;
      background-color: $accent_color;
      border-radius: 30px;
      font-size: 18px;
      font-weight: 500;
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .table_page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: $main_color;
    @media screen and (max-width:480px) {
      font-size: 18px;
    }
  }
  .possible_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
//////////////////
// プラン End
//////////////////




////////////////////
// strangth Start
////////////////////
.strangth {
  @extend %screen_wide;
  @extend %content_margin;
}
.strangth_title {
  background-image: url(../images/STRANGTH.png);
  @extend %title_margin_multi;
  >h2 {
    @extend %title_size;
  }
}
.strangth_main {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}
.strangth_part_wrapper {
  display: flex;
  justify-content: center;
  width: 460px;
  position: relative;
  @media screen and (max-width:1000px) {
    width: 380px;
  }
  @media screen and (max-width:768px) {
    width: 320px;
  }
  @media screen and (max-width:650px) {
    width: 270px;
  }
  @media screen and (max-width:480px) {

  }
}
.strangth_part_wrapper_top {
  >img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}
.strangth_part_wrapper_bottom {
  >img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}
.strangth_part_contents {
  width: 80%;
}
.strangth_part_top {
  margin: 30px 30px 0 30px;
  @media screen and (max-width:1000px) {
    margin: 20px 30px 0 30px;
  }
  @media screen and (max-width:650px) {
    margin: 14px 30px 0 30px;
  }
}
.strangth_part_bottom {
  margin: 0 30px 70px 30px;
  @media screen and (max-width:1000px) {
    margin: 0 30px 50px 30px;
  }
  @media screen and (max-width:650px) {
    margin: 0 30px 30px 30px;
  }
}
.strangth_part_1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  @media screen and (max-width:650px) {
    top: 0;
  }
}
.strangth_part_2 {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 100;
  @media screen and (max-width:1000px) {
    top: 120px;
  }
  @media screen and (max-width:480px) {
    top: 140px;
  }
}
.strangth_part_3 {
  position: absolute;
  bottom: 100px;
  left: 0;
  z-index: 100;
  @media screen and (max-width:1000px) {
    bottom: 120px;
  }
  @media screen and (max-width:480px) {
    bottom: 160px;
  }
}
.strangth_part_4 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.strangth_part_title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  @media screen and (max-width:768px) {
    margin-bottom: 8px;
  }
  >img {
    margin-right: 20px;
    height: clamp(24px,3vw,40px);
  }
  >h3 {
    align-self: flex-end;
    font-size: clamp(16px,2vw,26px);
    font-weight: 500;
    line-height: 1.3;
    color: $main_color;
  }
}
.strangth_part_text {
  >p {
    font-size: clamp(10px,1.4vw,16px);
    font-weight: 500;
    line-height:1.7;
    color: #333333;
  }
}
.strangth_img {
  padding: 270px 0;
  display: flex;
  justify-content: center;
  >img {
    width: 60%;
  }
}
////////////////////
// strangth End
////////////////////




////////////////////
// 制作実績 Start
////////////////////
.production {
  @extend %screen_wide;
  @extend %content_margin;
}
.production_title {
  background-image: url(../images/RESULTS.png);
  @extend %title_margin_single;
  >h2 {
    @extend %title_size;
  }
}
.production_main {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  @media screen and (max-width:480px) {
    width: 100%;
  }
  >p {
    @extend %message_size;
  }
}
.swiper-custom-parent {
  position: relative;
  padding: 0 30px;
  @media screen and (max-width:480px) {
    padding: 0;
  }
}
.swiper-slide {
  @media screen and (max-width:480px) {
    display: flex;
    justify-content: center;
  }
}
.production_part {
  @media screen and (max-width:480px) {
    width: 80%;
  }
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev:after,.swiper-button-next:after {
  color: $main_color;
  outline: none;
}
.production_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
  background-color: white;
  >img {
    width: 90%;
    margin: 24px 0 20px 0;
  }
  >p {
    width: 90%;
    margin: 0 0 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #333333;
    @media screen and (max-width:480px) {
      font-size: 12px;
    }
  }
}
////////////////////
// 制作実績 End
////////////////////




//////////////////////
// 制作の流れ Start
//////////////////////
.flow {
  @extend %content_margin;
}
.flow_title {
  @extend %screen_wide;
  background-image: url(../images/FOLLOW.png);
  @extend %title_margin_single;
  >h2 {
    @extend %title_size;
  }
}
.flow_main_bg {
  width: 100%;
  padding: 60px 0 0 0;
  background-image: url(../images/fllow_base.jpg);
  background-size: cover;
}
.flow_main {
  @extend %screen_wide;
  >ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-bottom: 72px;
      padding: 30px 0 50px 0;
      background-color: white;
      border-radius: 20px;
      @media screen and (max-width:768px) {
        width: 48%;
      }
      @media screen and (max-width:480px) {
        width: 100%;
        margin-bottom: 48px;
      }
      >h3 {
        width: 80%;
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3;
        color: $accent_color;
        text-align: center;
      }
      >p {
        width: 80%;
        @extend %message_size;
      }
      .flow_main_img {
        margin-bottom: 20px;
      }
      .flow_main_step {
        position: absolute;
        top: -20px;
        left: -20px;
      }
    }
  }
}
//////////////////////
// 制作の流れ End
//////////////////////




/////////////////////////
// お客様の声 Start
/////////////////////////
.voice {
  @extend %screen_wide;
  @extend %content_margin;
}
.voice_title {
  background-image: url(../images/VOICE.png);
  @extend %title_margin_single;
  >h2 {
    @extend %title_size;
  }
}
.voice_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 52px;
  padding: 40px 0;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
  border-radius: 20px;
  background-color: white;
}
.voice_part1 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  @media screen and (max-width:768px) {
    flex-direction: column;
    width: 90%;
  }
}
.voice_part2 {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  @media screen and (max-width:768px) {
    flex-direction: column-reverse;
    width: 90%;
  }
}
.voice_part_line {
  display: block;
  height: 0.5px;
  width: 74%;
  margin: 30px 0;
  background-color: #333333;
  @media screen and (max-width:768px) {
    width: 90%;
  }
}
.voice_part_img {
  width: 45%;
  @media screen and (max-width:768px) {
    width: 100%;
    margin-bottom: 8px;
  }
  >img {
    width: 100%;
  }
}.voice_part_text {
  width: 50%;
  @media screen and (max-width:768px) {
    width: 100%;
  }
  >p {
    &:first-child {
      margin-bottom: 24px;
      font-size: 26px;
      font-weight: 500;
      line-height: 1.3;
      color: $main_color;
      @media screen and (max-width:480px) {
        font-size: 20px;
      }
    }
    &:last-child {
      @extend %message_size;
    }
  }
}
/////////////////////////
// お客様の声 End
/////////////////////////




////////////////////////////
// よくあるご質問 Start
////////////////////////////
.faq {
  @extend %screen_wide;
  @extend %content_margin;
}
.faq_title {
  background-image: url(../images/FAQ.png);
  @extend %title_margin_single;
  >h2 {
    @extend %title_size;
  }
}
.faq_main {
  margin-bottom: 50px;
  padding: 40px 0;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.16);
  border-radius: 20px;
  background-color: white;
  >ul {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    @media screen and (max-width:480px) {
      width: 90%;
    }
    >li {
      position: relative;
      padding-top: 20px;
      padding-bottom: 30px;
      &:first-child {
        padding-top: 0;
      }
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-image: linear-gradient(to right, $accent_color, $accent_color 2px, transparent 2px, transparent 6px);
        background-size: 6px 0.5px;
        background-repeat: repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  @media screen and (max-width:480px) {
    margin-bottom: 16px;
    align-items: normal;
  }
  >p {
    width: 84%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    color: $main_color;
    @media screen and (max-width:480px) {
      font-size: 16px;
    }
  }
}
.faq_answer {
  display: flex;
  justify-content: space-between;
  >p {
    width: 84%;
    @extend %message_size;
  }
}
.faq_question_img {
  width: 10%;
  >img {
    width: 100%;
    max-width:45px
  }
}
.faq_answer_img {
  width: 10%;
  >img {
    width: 100%;
    max-width:45px
  }
}
////////////////////////////
// よくあるご質問 End
////////////////////////////




/////////////////////////
// お問い合わせ Start
/////////////////////////
#contact {
  width: 100%;
}
// お問い合わせタイトル
.contact_title {
  background-image: url(../images/CONTACT.png);
  @extend %title_margin_single;
  margin-bottom: 0;
  >h2 {
    @extend %title_size;
  }
}
// お問い合わせフォーム(背景)
.contact_main_bg {
  padding: 56px 0 120px 0;
  background-image: url(../images/base.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width:480px) {
    padding-bottom: 80px;
  }
}
// お問い合わせフォーム
.contact_main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  >form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
// お問い合わせコメント
.contact_comment {
  text-align: center;
  margin-bottom: 40px;
  >img {
    width: 90%;
    max-width: 750px;
    height: auto;
    @media screen and (max-width:480px) {
      width: 100%;
    }
  }
}

// エラーメッセージ
.post_message {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: $main_color;
  @media screen and (max-width:480px) {
    width: 100%;
  }
}

// フォーム
.contact_form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  @media screen and (max-width:768px) {
    flex-direction: column;
  }
  input,textarea {
    outline: none;
  }
}

.form_parts {
  margin-bottom: 20px;
  @media screen and (max-width:768px) {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  @media screen and (max-width:480px) {
    width: 100%;
  }
  >label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: $main_color;
    >span {
      font-size: 10px;
      font-weight: 500;
      line-height: 1.4;
      color: white;
      margin-left: 20px;
      padding: 2px 8px;
      background-color: #EE7D77;
      border-radius: 6px;
      vertical-align: middle;
    }
  }
  >p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: white;
  }
  >input {
    width: clamp(300px,40vw,370px);
    border: none;
    border-radius: 6px;
    padding: 8px 0 8px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: $main_color !important;
    @media screen and (max-width:768px) {
      width: 100%;
    }
    @media screen and (max-width:480px) {
      width: 90%;
    }
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.3;
      color: #C9C9C9;
    }
  }
}

// 住所
.form_address {
  >input {
    margin-bottom: 10px;
  }
  >button {
    width: 152px;
    padding: 8px 0;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: white;
    background-color: $sub_color;
    cursor: pointer;
    @media screen and (max-width:480px) {
      width: 40%;
    }
  }
  .address {
    width: 163px;
    margin-right: 4px;
    @media screen and (max-width:480px) {
      width: 45%;
    }
  }
  .addr2 {
    margin-bottom: 0;
  }
}
// メールアドレス
.form_mail {
  margin-bottom: 0;
  @media screen and (max-width:768px) {
    margin-bottom: 20px;
  }
}

// お問い合わせ内容
.form_message {
  height: 100%;
  display: flex;
  flex-direction: column;
  >textarea {
    height: 100%;
    width: clamp(300px,40vw,370px);
    border: none;
    border-radius: 6px;
    resize: none;
    padding: 8px 0 8px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    color: $main_color;
    @media screen and (max-width:768px) {
      width: 100%;
    }
    @media screen and (max-width:480px) {
      width: 90%;
    }
  }
}

// メール送信完了メッセージ
.complete_message {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  @media screen and (max-width:480px) {
    width: 100%;
  }
  >p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: $main_color;
  }
}

// お問い合わせボタン
.post_button {
  width: 400px;
  height: 60px;
  background-color: $main_color;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: white;
  line-height: 1.4;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  @media screen and (max-width:480px) {
    width: 100%;
    font-size: 14px;
  }
  @each $prefix in $set-prefix {
    #{$prefix + "transition"}: 0.3s;
  }
  &:hover {
    background-color: $accent_color;
  }
}
.back_button {
  margin-bottom: 20px;
}
/////////////////////////
// お問い合わせ End
/////////////////////////




// フッター
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: $main_color;
  >span {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.3;
    color: white;
    letter-spacing:1px;
  }
}
