$textcolor_main: #E06168;
$textcolor_sub: #0099cb;
$background: #E9F7F8;
$font-family: '秀英丸ゴシック B', '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック体', YuGothic, 'Hiragino Sans', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;

* {
  font-family: $font-family;
}

body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


//ヘッダー
header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

//サイドの装飾
.header_left_decoration {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 6%;
  margin-top: 20px;
  > img {
    width: 100%;
  }
}
.header_right_decoration {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 6%;
  margin-top: 20px;
  > img {
    width: 100%;
  }
}

//メニュー
.header_middle {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 980px;
}
.logo {
  width: 20%;
  margin-right:5%;
  > img {
    width: 100%;
  }
}
.header_menu {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .header_menu_link {
    display: flex;
    justify-content: space-between;
    .link_sns {
      display: flex;
      justify-content: space-between;
      align-items:center;
      > a {
        display: flex;
        align-items:center;
        margin-right: 20px;
        > img {
          width: 100%;
        }
      }
      .link_text {
        color: $textcolor_main;
        font-size: clamp(12px,2vw,14px);
        border-bottom: solid 1px $textcolor_main;
      }
      .link_facebook, .link_instagram, .link_line {
        width:20px;
      }
    }
    .link_button {
      > a {
        padding: 10px 20px;
        border-radius: 30px;
        font-size: clamp(12px,2vw,14px);
        &:first-child {
          margin-right: 20px;
        }
      }
      .requruit_button {
        border: solid 1px $textcolor_main;
        color: $textcolor_main;
      }
      .question_button {
        color: white;
        background-color: $textcolor_main;
      }
    }
  }
  .header_menu_nav {
    > nav {
      > ul {
        display: flex;
        > li {
          display: flex;
          justify-content: space-around;
          align-items:center;
          flex-grow: 1;
          > a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            color: $textcolor_main;
            > img {
              height:50%;
            }
            > p {
              font-size: clamp(14px,2vw,16px);
              font-family: $font-family;
            }
          }
          &:after {
            content:"";
            height: 60%;
            width:1px;
            border-right: dotted 1px $textcolor_sub;
          }
        }
        > li:last-child:after {display: none;}
      }
    }
  }
}

.mainview {
  position: relative;
  width: 100%;
  max-height: 600px;
  > img:first-child {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
  }
  .main_view_left {
    position: absolute;
    height: 100%;
    width: 8%;
    left: 0;
    top: 0;
  }
  .main_view_right {
    position: absolute;
    height: 100%;
    width: 8%;
    right: 0;
    top: 0;
  }
  .main_view_text {
    position: absolute;
    top: 20%;
    left: 20%;
    height:60%;
    > img {
      height: 100%;
    }
  }
}

.news_back {
  position: relative;
  top: -20px;
  background-color: $background;
  width:100%;
}
.news_wrapper {
  position: relative;
  top: -40px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.news_wrapper_top {
  width: 100%;
  margin: 0 auto;
}

.news_wrapper_content {
  width: 100%;
  margin: 0 auto;
  background-color:white;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px auto;
  .clock {
    height: 60px;
  }
  > h3 {
    margin: 20px 0 40px 0;
    font-size: 24px;
    color: $textcolor_main;
    border-bottom:solid 2px $textcolor_main;
  }
}
.content_sns {
  display: flex;
}
.content_sns_instagram {
  display: flex;
  flex-direction: column;
  align-items:center;
  .instagram_part {
    display: flex;
    flex-wrap: wrap;
  }
}
